* {
    font-family: Roboto, sans-serif !important;
}

.mdl-layout__header {
    background-color: #253035;
    height: 62px;
}

.mdl-layout__header-row {
    padding: 0 16px;
}

.head-logo {
    font-size: 18px;
    color: #f1f1f1;
    font-weight: 500;
}

.mdl-layout__header .mdl-layout__header-row .mdl-navigation__link {
    color: #f1f1f1;
}
